h1, h2, h3, h4, h5, h6, p, div{
    color: #B3A3A1;
}
.tovari{
    width: 105%;
    margin-left: -2.5%;
    height: 140%;
    padding-top: 50px;
    display: flex;
    background-color: #B3A3A1;
    color: #fff;
}
.opis{
    display: flex;
    flex-direction: column;
}
.opisanie, .nazvanie{
  color: #fff;
}
.opis img{
    height: 240px;
} 
.s{
  background: none;
  color: #fff;
}
.opis .last button, .opis .last button img{
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
}
.opis .last button img{
    margin: 0;
}
.opis .last button{
    border: none;
    background-color: none;
}
.rub{
  width: 80px;
  background-color: #00000000;
  margin-top: 0;
  color: #B3A3A1;
}
.slider__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider{
  width: 1800px;
  display: flex;
}
.wrapper{
  width: 100%;
  overflow: scroll;
}

.botan .more{
    border: none;
}
.dot{
    display: none;
    color: #faf3dc;
}
.image_source{
  height: 240px;
}
.footer{
  position: relative;
  background-color: #B3A3A1;
  margin-top: 40px; 
  width: 100%;
  height:568px;
  padding: 0;
  /* overflow: hidden; */
}
.footer-content{
  position: absolute;
  bottom: 110px;
  padding: 40px;
}
.img-prev{
  background: transparent;
}
.back
{
  position: absolute;
  margin: 0 auto;
  margin-left: 210px;
  margin-top: 120px;
  z-index: 0;
  width: 240px;
}
.prevc{
  position: absolute;
  margin: 0 auto;
  margin-left: 140px;
  margin-top: 210px;
  border-radius: 50%;
  z-index: 0;
  width: 240px;
}
.catalog{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 40%;
  margin-top: 120px;
}

.title{
  display: flex;
}
.titleLink{
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  font-size: 18px;
  color: #fff;
}

.descr{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-size:18px;
  line-height: 40px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
  letter-spacing: 0.1px;
  color: #FCFFF5;
}
.company{
  margin: 0 auto;
  font-weight: 700;
  font-size: 34px;
  margin-left: 0;
  color: #fff;
}
.p-catal{
  background: #FFE0DB;
  border: none;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 56px;
  gap: 8px;
  cursor: pointer;
  margin: 0 auto;
}
.d{
  background: none;
  border: none;
    width: 60px;
    height: 40px;
}
.spanClass{
  background: none;
}
.spanClass h5{
  color: #fff;
}




/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }
  
  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: currentColor;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots { direction: rtl; }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }
  
  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }