section{
    padding: 40px;
}
.infoHomeBlock{
    padding: 40px;
}
.home{
    background: #E2ECEE;
}

.text{
    position: relative;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.hea{
    left: 50%;
    width:60%;
    text-align: center;
    color: #2B535A;
    font-size: 28px;
}
.par{
    width:100%;
    text-align: left;
}
.par p{
    color: #2D6974;
}
.hea h1{
    width:80%;
    color: #2B535A;
    margin-left: auto;
    margin-right: auto;
}
.info{
    position: relative;
    max-width:100%;
    padding-top: 15px;
}
.pho{
    display: flex;
}
.pho img{
    width: 650px;
    float:left;
}
.hea1{
    padding-right: 100px;
}
.hea1 h1{
    color: #2B535A;
}
.hea1 p{
    color: #2D6974;
    text-align: left;
    margin-left: 30px;
}
.data{
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h{
    position: relative;
    display: flex;
    justify-content: center;
}
.c{
    background: #EAF5F8;
    border-radius: 0px 124px;
    width: 420px;
    height: 360px;
    margin: 80px;
}
.c ul li{
    background: none;
    font-size: 24px;
    width: 320px;
    color: #2D6974;
    text-align: left;
}
.h h1{
    font-size:48px;
    color: #2B535A;
}
.h{
    display: flex;
    flex-direction: column;
}
.link{
    padding: 10px;
    background-color: #EAF5F8;
    border-radius: 20px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}
.goodsHome{
    display: flex;
    width: 100%;
}
.opis{
    flex: 1 1 0;
}
.nazvanie, .opisanie, .title, .title .s{
    color: #000;
}
.footLine{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 50px;
}
.pInSecPar{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;

    letter-spacing: 0.1px;
}
.h1InSecPar{
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    margin-left: 40px;

    letter-spacing: 0.1px;

    color: #2B535A;
}