.header{
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    background: #00000000;
}
.container{
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #B3A3A1;
    font-weight: 700;
    font-size: 26px;
}
.header-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}
.header-top .logo{
    align-self: flex-start;
    justify-self: flex-start;

}
.el_link{
    margin-right: 25px;
    font-weight: 400;
    font-size: 26px;
}
.el{
    flex: 1 1 0;
}
ul{ 
    list-style-type: none;
}
.d3{
    width: 550px;
}
.d3 input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #B3A3A1;
    padding: 3px;
    padding-left: 35px;
}
.d3 img{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -32px;
    margin-left: .3%;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    display: flex;
    height: 40px;
    width: 150px;
}
.menu__list{
    width: 50%;
    display: flex;
}
.menu__item{
    flex: 1 1 0;
}
.menu__item a{
    font-weight: 400;
    font-size: 18px;
}
.img{
    position: absolute;
    left: auto;
    right: 40px;
}
.media{
    background-color: #B3A3A1;
    border: none;
    height: 35px;
    width: 35px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 10px;
}
.blue_color{
    color: #2D6974;
}
.blue_bgcolor{
    background: #A1C0C6;
}
.blue_bgcolorinput input{
    background: #A1C0C6;
    color: #fff;
}
.black_color{
    color: #000;
}
.black_bgcolor{
    background: #000;
    color: #fff;
}
.black_bgcolor img{
    filter: invert(1);
}
.black_bgcolorinput input{
    background: #fff;
    border: 1px solid #000;
    color: #000;
}
.lineblock{
    display: block;
    width: 95%;
    height: 2px;
    background-color: #000;
}