.footter{
    position: relative;
    z-index: 2;
    bottom: 0%;
    width: 98%;
    padding: 1%;
    height: 160px;
    display: flex;
    background: #000;
}
.footter .ftblock{
    flex: 1 1 0;
}
.ft_block__left{
    justify-self:flex-start;
    text-align: left;
}
.ft_block__right{
    justify-self: flex-end;
    text-align: right;
}
.ftblock h3{
    color: #fff;
}
.blue_color{
    color: #2D6974;
}
.blue_bgcolor{
    background: #A1C0C6;
}