section{
    max-width: 100%;
    overflow: hidden;
    
}
.contactt{
    background: #B3A3A1;
}

.text{
    width: 100%;
}
.hh{
    width: 100%;
    display: flex;
}
.hh h1{
    flex: 1 1 0;
}
.main-container{
    width: 100%;
    display: flex;
}
.container-content{
    width: 25%;
    height: 120%;
    padding: 20px;
    border-radius: 30px;
    background-color: #f5f5f5;
    
}
.container-content:not(:last-child){
    margin-right: 20%;
}
.container-content:first-child{
    margin-left: 15%;
}
.but{
    margin-left: 10px;
    margin-right: auto;
}
.send{
    background: #B3A3A1;
    padding: 15px;
    width: 180px;
    border: none;
    border-radius: 0 0 0 40px;
}
.inputss{
    height: 320px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first{
    display: flex;
}
.inn{
    width: 90%;
    resize: none;
    border-radius: 20px;
    border: none;
    padding: 10px;
    height: 30px;
    margin-bottom: 15px;
    background: #B3A3A1;
    color: #000;
}
.textarea{
    height: 230px;
}
.pics{
    display: flex;
    flex-direction: column;
    height: 180px;
}
.picsimg{
    flex: 1 1 0;
    width: 60px;
    margin-left: 0;
    margin-bottom: 20px;
}
.picsimg img{
    border-radius: 3px;
}
.mapimg{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}
.mapimg img{
    width: 45px;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
}
.mapimg h6{
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
}
.google{
    width: 220px;
    height: 40px;
    padding: 5px;
    background: #B3A3A1;
    border-radius: 30px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.map{
    width: 100%;
    height: 50%;
}
.map img{
    width: 100%;
    height: 100%;
}
.container-contacts{
    display: flex;
    flex-direction: column;
}
.rating-area {
    width: 100%;
    transform: scale(-1, 1);
	overflow: hidden;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	width: 21px;
	padding: 20px;
	cursor: pointer;
	font-size: 30px;
	line-height: 41px;
	color: lightgrey;
    margin-left: auto;
    margin-right: auto;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #B3A3A1;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #B3A3A1;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #B3A3A1;
	text-shadow: 1px 1px #A2A2A0;
}
.rate-area > label:active {
	position: absolute;
}
